services:
  front:
    build: .
    ports:
      - "3010:3010"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./app:/app/app
      - ./components:/app/components
      - ./contexts:/app/contexts
      - ./lib:/app/lib
      - ./public:/app/public
      - ./types:/app/types
      - ./prisma:/app/prisma
      - ./middleware.ts:/app/middleware.ts
      - ./next.config.ts:/app/next.config.ts
      - ./tsconfig.json:/app/tsconfig.json
      - ./tailwind.config.ts:/app/tailwind.config.ts
      - ./postcss.config.mjs:/app/postcss.config.mjs
      - /app/node_modules
      - /app/.next

  db:
    image: postgres:16
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin_data:
