services:
  front:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ./front/.env
    depends_on:
      - db

  db:
    image: postgres:16
    env_file:
      - ./front/.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    env_file:
      - ./front/.env
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin_data:
